[Unit]
Description="ConfAPI service for Upravlyator"
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=1
ExecStart=\
    /usr/local/bin/upr-conf-api \
        --upr-conf {{ path-tmpl }}/conf.yaml \
        --static {{ path-tmpl }}/confapi-static/ \
        --port 81

[Install]
WantedBy=multi-user.target
