[Unit]
Description="ConfAPI service for Upravlyator"
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=1
ExecStart=\
    {{ upravlyator_confapi_path }} \
        --upr-conf {{ project_root }}/conf.yaml \
        --static {{ project_root }}/confapi-static/

[Install]
WantedBy=multi-user.target
